<?xml version="1.0" encoding="UTF-8"?>
<!-- status=debug 可以查看log4j的装配过程， monitorInterval单位是秒 -->
<configuration status="off" monitorInterval="300">
	<properties>
		<property name="LOG_HOME">/logs/</property>
		<property name="FULL_FILE_NAME">supay</property>
		<property name="ERROR_FILE_NAME">supay-error</property>
		<property name="SQL_FILE_NAME">supay-sql</property>
		<property name="MAX_LOG_FILE_SIZE">100MB</property>
		<Property name="PATTERN">%d{yyyy-MM-dd HH:mm:ss} %-5level %thread %X{traceId} %X{appName} %X{eventType} %X{bizType} %c{36}#%M:%line - %m%n</Property>
	</properties>
	<appenders>
		<!-- 定义控制台输出 -->
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="${PATTERN}" />
		</Console>

		<!-- 定义文件输出日志，包括debug、info、warn -->
		<RollingRandomAccessFile name="supay-full"
								 fileName="${LOG_HOME}/${FULL_FILE_NAME}.log"
								 filePattern="${LOG_HOME}/%d{yyyy-MM}/${FULL_FILE_NAME}-%d{yyyyMMdd}-%i.log.zip">
			<Filters>
				<ThresholdFilter level="FATAL" onMatch="DENY" onMismatch="ACCEPT" />
			</Filters>

			<PatternLayout pattern="${PATTERN}" />
			<Policies>
				<TimeBasedTriggeringPolicy />
				<SizeBasedTriggeringPolicy size="${MAX_LOG_FILE_SIZE}" />
			</Policies>
			<DefaultRolloverStrategy max="30" />
		</RollingRandomAccessFile>

		<!-- 定义文件输出日志，包括error -->
		<RollingRandomAccessFile name="supay-error"
								 fileName="${LOG_HOME}/${ERROR_FILE_NAME}.log"
								 filePattern="${LOG_HOME}/%d{yyyy-MM}/${ERROR_FILE_NAME}-%d{yyyyMMdd}-%i.log.zip">

			<ThresholdFilter level="ERROR" onMatch="ACCEPT" onMismatch="DENY" />

			<PatternLayout pattern="${PATTERN}" />
			<Policies>
				<TimeBasedTriggeringPolicy />
				<SizeBasedTriggeringPolicy size="${MAX_LOG_FILE_SIZE}" />
			</Policies>
			<DefaultRolloverStrategy max="30" />
		</RollingRandomAccessFile>

		<Async name="async-full" includeLocation="true">
			<AppenderRef ref="supay-full" />
		</Async>
		<Async name="async-error" includeLocation="true">
			<AppenderRef ref="supay-error" />
		</Async>
	</appenders>

	<loggers>

		<!-- Root Logger -->
		<root level="DEBUG">
			<appender-ref ref="Console" />
		</root>
	</loggers>
</configuration>  